@model EmployeeTable.Models.Employee

@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<h2>Удаление сотрудника</h2>
@using (Html.BeginForm())
{

    <dl>
        <dt>Номер записи</dt>
        <dd>
            @Html.DisplayFor(model => model.idEmployee)
        </dd>

        <dt>ФИО</dt>
        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>Должность</dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>


<input type="submit" value="Удалить" />
}