@model EmployeeTable.Models.Absence
@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}

@*Cтраница с вопросом о подрверджении удаления записи об отсутствии*@
<h3>Удаление записи об отсутствии</h3>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                Вы действительно хотите удалить запись?
            </td>
        </tr>
        <tr>
            <td>

                <input type="submit" value="Удалить" class="button15" />

            </td>
        </tr>
    </table>
}
