@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}
@model EmployeeTable.Models.Absence
<h2>Удаление записи об отсутствии</h2>
<dl>
    <dt>Номер записи</dt>
    <dd>
        @Html.DisplayFor(model => model.IdAbsences)
    </dd>

    <dt>ФИО</dt>
    <dd>
        @Html.DisplayFor(model => model.Employee.Fullname)
    </dd>

    <dt>Дата</dt>
    <dd>
        @Html.DisplayFor(model => model.Date)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}

